{% extends 'index.html' %}
{% load static %}

{% block content %}

	<section class="home">
		<label class="heading">Welcome to TSF Banking System</label>

    <div class="features">
        <div>
            <figure>
                <img src="https://cdn1.iconfinder.com/data/icons/prettyoffice8/256/Users.png" alt="">
            </figure>
            <a href="{% url 'customers' %}" class="btn">
                View all users
            </a>
        </div>

        <div>
            <figure>
                <img src="https://previews.123rf.com/images/khalide91/khalide911912/khalide91191200363/136621325-bank-to-bank-money-transfer-icon-.jpg" alt="">
            </figure>
            <a href="{% url 'customers' %}" class="btn">
                Transfer Money
            </a>
        </div>

        <div>
            <figure>
                <img src="https://previews.123rf.com/images/viktorijareut/viktorijareut1508/viktorijareut150800643/44108397-pocket-watch-and-coins-time-management-clock-money-time-is-money-money-concept-green-arrow-up-.jpg" alt="">
            </figure>
            <a href="{% url 'transactions' %}" class="btn">
                View Transfer History
            </a>
        </div>
	</div>
	</section>

    {% endblock %}